<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>suacidademaislimpa.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A4647B75C091278C5E703351DC64BD76CCD4EAF2</string>
				<key>dateExpires</key>
				<string>02/04/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4647B75C091278C5E703351DC64BD76CCD4EAF2</string>
						<key>dateExpires</key>
						<string>02/04/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TC784K9Y2K</string>
						<key>name</key>
						<string>TECH-URB EMPREENDIMENTOS LTDA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4647B75C091278C5E703351DC64BD76CCD4EAF2</string>
						<key>dateExpires</key>
						<string>02/04/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactNativeDependencies.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TC784K9Y2K</string>
						<key>name</key>
						<string>TECH-URB EMPREENDIMENTOS LTDA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4647B75C091278C5E703351DC64BD76CCD4EAF2</string>
						<key>dateExpires</key>
						<string>02/04/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TC784K9Y2K</string>
						<key>name</key>
						<string>TECH-URB EMPREENDIMENTOS LTDA</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>TC784K9Y2K.com.techurb.suacidademaislimpa</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>TC784K9Y2K</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>suacidademaislimpa.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0afe4dcc-e290-43af-866e-82403a9228bc</string>
				<key>dateExpires</key>
				<string>02/04/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.techurb.suacidademaislimpa</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>TC784K9Y2K</string>
				<key>name</key>
				<string>TECH-URB EMPREENDIMENTOS LTDA</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
